@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

a {
    white-space: nowrap;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}

:root {
    --color-gray: #666;
    --color-black: #000;
    --color-white: #FFF;
    --color-violet-hover: #609;
    --color-violet-hover-opacity: rgba(102, 0, 153, 0.603);
    --color-bg--gray--hover: rgb(211, 211, 211);
    --bg-footer: #f7f7f7;
}

.btn--scroll {
    position: relative;
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--color-black);
}

.header {
    width: 90%;
    height: inherit;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header--higher {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--logo--link {
    height: inherit;
    display: flex;
    align-items: center;
}

.header--logo img {
    width: 6%;
    min-width: 70px;
    cursor: pointer;
}

.header--higher a,
.header--logo--link a {
    margin-top: 7px;
    font-size: 0.9rem;
    color: var(--color-gray);
    margin-left: 20px;
    white-space: nowrap;
    cursor: pointer;
}

.header--higher a:hover,
.header--logo--link a:hover {
    color: var(--color-violet-hover);
}

.header--bottom {
    width: 100%;
    height: 50px;
}

.header--bottom nav {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header--bottom nav a {
    font-size: 1.1rem;
    color: var(--color-black);
    line-height: 1.3rem;
}

.header--bottom nav ul a {
    margin-right: 30px;
}

.header--bottom nav ul a:hover {
    color: var(--color-violet-hover);
    text-decoration: underline;
}

.header--bottom nav ul {
    display: inline-flex;
    align-items: center;
}

.nav--search--login {
    display: flex;
}

.nav--search--login a {
    font-size: 0.9rem !important;
    margin-left: 30px;
}

.nav--search--login a:hover {
    color: var(--color-violet-hover);
}

.nav--search--login a i {
    margin-right: 8px;
}

.slider--wrapper {
    width: 100%;
    height: 500px;
    overflow: hidden;
    transition: all 0.4s;
}

.slides {
    width: 100%;
    position: relative;
}

.slide {
    position: absolute;
    width: 100%;
    height: 500px;
}

.slide:nth-child(1) {
    background-color: #609;
}

.slide:nth-child(2) {
    background-color: #FFF;
}

.slide:nth-child(3) {
    background-color: #604329;
}

.slide:nth-child(4) {
    background-color: #3123;
}

.slide:nth-child(5) {
    background-color: #603129;
}

.content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.section--products {
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.title h1 {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--color-black);
}

.title a {
    margin-bottom: 3px;
}

.title a:hover {
    color: var(--color-violet-hover-opacity);
}

.title {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 25px 0;
}

.grid--products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.products img {
    width: 90%;
    min-width: 200px;
    margin-bottom: 30px;
}

.products p {
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: lighter;
    color: var(--color-gray);
}

.products p:nth-child(2) {
    margin-bottom: 15px;
}

.products p:nth-child(3) {
    color: var(--color-black);
}

.products p:nth-child(4) {
    margin-bottom: 15px;
}

.products:hover {
    background-color: var(--color-bg--gray--hover);
    cursor: pointer;
}

.products a {
    color: var(--color-violet-hover);
    z-index: 2;
}

.products a:hover {
    color: var(--color-violet-hover-opacity);
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section--slider {
    width: 90%;
    height: 320px;
    background-color: #609;
    margin: 40px auto;
}

.section--service--client {
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.content--service--client {
    width: 100%;
    display: flex;
    margin-top: 40px;
}

.recharge {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.recharge img {
    width: 15%;
}

.recharge p {
    font-size: 1rem;
}

.recharge p:nth-child(2) {
    margin-top: 1rem;
}

.recharge p:nth-child(3) {
    margin-top: 1rem;
    color: var(--color-gray);
}

.recharge div {
    width: 70%;
    margin-top: 1rem;
    padding: 15px;
    border: 1px solid var(--color-black);
    border-radius: 5px;
}

.recharge div input {
    width: 100%;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 10px;
    border: none;
}

.recharge div input::placeholder {
    color: var(--color-black);
}

.recharge button {
    width: 50%;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: lighter;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-violet-hover);
    color: var(--color-white);
    transition: opacity .3s;
    cursor: pointer;
}

.recharge button:hover {
    opacity: 0.8;
}

.grid--service--client {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
    transition: opacity .4s;
}

.service--client {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-bg--gray--hover);
    transition: all .4s !important;
}

.service--client:hover {
    cursor: pointer;
    top: -8px;
    box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.75);
    -o-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.75);
}

.service--client img {
    width: 30%;
}

.service--client p {
    font-size: 1.1rem;
}

.section--highlights {
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 50px 0;
}

.section--highlights p {
    margin-bottom: 30px;
}

.grid--highlights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.highlights:hover {
    background-color: var(--color-bg--gray--hover);
    cursor: pointer;
}

.highlights img {
    width: 100%;
    min-width: 200px;
    margin-bottom: 30px;
}

.highlights .description {
    justify-content: space-between;
    height: 80px;
}

.highlights a {
    color: var(--color-violet-hover);
    z-index: 2;
}

.highlights a:hover {
    color: var(--color-violet-hover-opacity);
}

.section--products--services {
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}

.grid--products--services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
}

.products--services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: var(--color-white);
    background-color: var(--color-violet-hover);
    cursor: pointer;
}

.products--services .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.products--services .top  span:nth-child(1) {
    font-size: 0.9rem;
    font-weight: 300;
}

.products--services .top  span:nth-child(2) {
    font-size: 1.3rem;
    font-weight: 400;
}


.products--services .bottom {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    font-size: 1rem;
    align-items: flex-end;
    justify-content: space-between;
}

.products--services .bottom img {
    width: 40%;
}

.section--protection {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 70px 0;
}

.protection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    border: 1px solid var(--color-bg--gray--hover);
}

.protection img {
    width: 8%;
}

.protection .protection--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.protection--text span {
    font-size: 1rem;
    font-weight: 300;
}

.protection--text span:nth-child(1) {
    color: var(--color-black);
}

.protection--text span:nth-child(2) {
    color: var(--color-gray);
    margin-top: 10px;
}

.section--protection p {
    margin: 70px 0 0 0;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--color-gray);
}

.section--protection p span {
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
}

.btn--sticky {
    width: 65px;
    height: 65px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    margin-left: 92%;
    background-color: var(--color-violet-hover);
    border-radius: 50%;
}

footer {
    width: 100%;
    display: block;
    margin: 15px auto 0 auto;
    background-color: var(--bg-footer);     
}

.footer--links {
    display: flex;
    flex-direction: row;
}

.footer--links .left {
    position: relative;
    display: flex;
    width: 60%;
}

.footer--links .left img {
    margin-top: 30px;
}

.footer--links .left .footer--left--text {
    position: absolute;
    top: 30px;
    left: 10%;
}

.footer--links .left .footer--left--text p {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--color-black);
}

.footer--links .left .footer--left--text p:nth-child(1) {
    font-weight: 400;
    margin-bottom: 10px;
}

.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px 0;
    justify-content: space-between;
}

.right .right--links {
    display: flex;
    flex-direction: row;
    padding-right: 20%;
}

.right .right--links ul {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right .right--links ul li {
   margin-bottom: 25px;
}

.right .right--links ul li a{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--color-black);
}

.right .right--social--media {
    display: flex;
}

.right .right--social--media a {
    font-size: 1.7rem;
    margin-right: 15px;
}

.right .right--social--media a i {
    color: var(--color-black);
}

.right .right--copy {
    display: block;
}

.right .right--copy p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-black);
}

.right .right--copy div {
    display: flex;
    margin-top: 10px;
}

.right .right--copy div a {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-black);
    margin-right: 15px;
    text-decoration: underline;
}

.footer--images {
    width: 100%;                        
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    background-color: var(--color-white);
}

.footer--images img {
    width: 13%;
    min-width: 100px;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
    .recharge {
        padding-right: 1rem;
    }

    .recharge div {
        width: 100%;
        padding: 12px;
    }
    
    .recharge div input {
        font-size: 1rem;
        padding: 7px;
    }

    .recharge button {
        width: 100%;
        font-size: 1rem;
    }

    .grid--service--client {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .products--services .bottom img {
        display: none;
    }
}

@media (max-width: 768px) {
    .header--higher {
        display: none;
    }

    .header--bottom {
        display: none;
    }

    .products--services .top  span:nth-child(1) {
        font-size: 0.7rem;
    }
    
    .products--services .top  span:nth-child(2) {
        font-size: 1rem;
    }

    .products--services .bottom {
        font-size: 0.8rem;
    } 

    .btn--sticky {
        width: 65px;
        height: 65px;
        position: sticky;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 15px;
        margin-left: 80%;
        background-color: var(--color-violet-hover);
        border-radius: 50%;
    }
}

@media (max-width: 425px) {
    .header--higher {
        display: none;
    }

    .header--bottom {
        display: none;
    }

    .grid--products--services {
        grid-template-columns: repeat(1, 1fr);
    }
}
